:root{
    --bgColor: #fff;
    --headerColor: rgba(172, 12, 78, 0.726);
    --buttonColor: hsl(167, 100%, 50%);
    --fontBgColor: #212121;
    --fontHeaderColor: #ffff;
    --fontButtonColor: #0000;
}

body{
    font-family: sans-serif;
    color: var(--fontBgColor);
    margin: 0% 0% 0% 0%;
}

header{
    background-color: var(--headerColor);
    color: var(--fontHeaderColor);
    padding-left: 2%;
    padding-bottom: 6%;
}

header nav{
    padding-top: 5%;
}

header nav ul{
    list-style:none;
    text-align: right;
    margin-top: 2%;
}

header nav ul li{
    padding-left: 2%;
    display: inline;
}

header nav ul li a{
    color: var(--bgColor);
    text-decoration: none;
}

section{
    margin: 5% 5%;
    padding-top: 2%;
}

section article{
    display: inline-block;
    height: 200px;
    width: 200px;
    text-align: justify;
    padding-right: 1%;
    padding-left: 1%;
    border-style: solid;
}

section article h4{
    text-align: center;
}

aside{
    transition: all 3s, transform 2s;
    position: relative;
    float: left;
    height: 200px;
    width: 400px;
    bottom: 50%;
    background-color: var(--buttonColor);
}

section button{
    background-color: var(--buttonColor);
}

.aside-init{
    left: -390px;
}

.aside-next{
    transform: translate(390px, 0px);
}

footer{
    background-color: var(--headerColor);
}